.searchBar {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}

.searchBar__inputContainer {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
