.details {
  margin: 1rem auto;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.grid main {
  overflow-x: hidden;
}

.grid__aside {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 6rem;
  padding-top: 2.5rem;

  position: sticky;
  top: 1.15rem;
  align-self: start; /* for 'sticky' in grid */

  height: 100vh;
  overflow-y: auto;

  border-right: 2px solid var(--hr);

  /* lock calculator on bottom */
  display: grid;
  grid-template-rows: 1fr auto;
}

.grid__aside.grid__asideIsOpen {
  grid-template-rows: 3rem 1fr auto;
}

.grid__aside nav,
.grid__aside .ProductsCalculator {
  display: none;
}

.grid__asideIsOpen {
  width: 18rem;
}

.grid__asideIsOpen nav,
.grid__asideIsOpen .ProductsCalculator {
  display: block;
}

.menuButton {
  height: 3rem;
  width: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.menuButton svg {
  fill: var(--darkText);
}

.grid__asideIsOpen .menuButton svg {
  fill: var(--mediumText);
}

@media (min-width: 620px) {
  .grid__aside {
    padding-top: 0.5rem; /* until menu overlay fixed */
  }
}

@media (min-width: 860px) {
  .grid__aside {
    padding: 1rem 1.4rem 6rem;
    width: 18rem;
  }
  .grid__aside.grid__asideIsOpen {
    grid-template-rows: 1fr auto;
  }
  .menuButton {
    display: none;
  }
  .grid__aside nav,
  .grid__aside .ProductsCalculator {
    display: block;
  }
}
