.breadcrumbs {
  display: flex;
  max-width: var(--gridWidth);
  margin: 0.5rem auto;
  padding: 0 10px;
  white-space: nowrap;
}

.breadcrumbs a,
.breadcrumbs a:visited {
  display: block;
  text-decoration: underline;
  color: var(--lightText);
  font-size: 15px;
}

.breadcrumbs a:not(:last-of-type):after {
  content: " /";
  display: inline-block;
  line-height: 1em;
  margin: 0 0.25rem;
}

.breadcrumbs a:last-of-type {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "gallery"
    "details";

  max-width: var(--gridWidth);
  margin: 0 auto;
}

.title {
  grid-area: title;
  padding: 10px;
}

.title h1 {
  font-size: 1.75rem;
  margin-block-start: 0;
}

.gallery {
  grid-area: gallery;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid var(--hr);
  border-radius: var(--babyRound);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main"
    "sides";
  grid-gap: 1rem;
  align-items: center;
}

.gallery__main {
  grid-area: main;
}

.gallery__sides {
  grid-area: sides;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.gallery__sides__item button {
  background: rgb(245, 246, 247);
  border-radius: 3px;
  border: 1px solid var(--hr);
  cursor: pointer;
  display: block;
  opacity: 0.4;
  overflow: hidden;
  position: relative;
  transition: opacity 100ms ease-in-out 0s;
  padding: 0;
}

.gallery__sides__item button:hover,
.gallery__sides__item button:focus {
  opacity: 1;
}

.details {
  grid-area: details;
  padding: 10px;
}

.details hr {
  border-top: 1px solid rgb(215, 220, 221);
  margin: 2rem 0px;
}

.style__label {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
}

.style__label span {
  font-size: 0.95rem;
  font-weight: normal;
  margin-left: 0.575rem;
}

.detailsList {
  padding-left: 1.25rem;
}

.colorOptions {
  margin: 0.25rem 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}

/* TODO: remove me when prod ready */
.details {
  margin: 1rem auto;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .pageContainer {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "gallery title"
      "gallery details";
    grid-gap: 0 2rem;
  }

  .title {
    padding: 0;
  }

  .title h1 {
    margin-block-start: 0.67em;
  }

  .gallery {
    height: min(calc(100dvh - 5rem), 60rem);
    position: sticky;
    top: 1.75rem;

    grid-template-columns: minmax(4rem, auto) minmax(420px, 1fr);
    grid-template-areas: "sides main";
    grid-gap: 2rem;
  }

  .gallery__sides {
    flex-direction: column;
  }

  .details {
    padding: 0;
  }
}

@media screen and (min-width: 1180px) {
  .breadcrumbs {
    padding: 0;
  }
}
