.hero {
  background: linear-gradient(to right, var(--primary), #4852da);
  position: relative;
  overflow-x: clip;
  z-index: 1;
}

.backgroundGradient {
  background: linear-gradient(to right, var(--primary), #4852da);
}

.hero__spacer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 2;
}

.hero__heading {
  color: var(--background);
  font-size: 2.5rem;
}

.hero__linkContainer {
  position: relative;
}

.hero__left {
  padding: 5vh 0;
  align-self: center;
}

.hero__right {
  /* empty spacer */
  position: relative;
  align-self: center;
}

.hero__arrow {
  display: none;
}

.hero__imageContainer {
  position: relative;
  display: none; /* hide on mobile */
}

@media screen and (min-width: 880px) {
  .hero {
    min-height: 85vh;
  }
  .hero__spacer {
    max-width: var(--gridWidth);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .hero__left {
    padding-top: 32vh;
  }
  .hero__imageContainer {
    display: block; /* hide on mobile */
    position: absolute;
    top: 0;
    left: 50%;
    width: 65vw;
    height: 100%;
    z-index: -1;
  }
}

.scrollContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 10rem;
}

.scrollContainer__aside {
  position: sticky;
  align-self: start;
  padding-top: 0;
  background-color: var(--background);
  z-index: 4; /* above 'main' + flying images */
  top: calc(var(--navTop) + var(--navHeight) - 10px);
  transition: top 0.3s; /* matches SiteNav */
  border-top: 1px solid var(--hr);
}

.sectionNav ul {
  margin: 0;
  padding: 1rem max(5rem, calc(100vw - 14rem)) 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  gap: 2rem;
  min-height: var(--navHeight);
  align-items: center;
  border-bottom: 1px solid var(--hr);

  /* for scrolling */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
}

.sectionNav ul li {
  flex: 1 0 auto;
  margin-bottom: 0.375rem;
}

@media screen and (min-width: 1200px) {
  .hero__arrow {
    display: block;
    position: absolute;
    left: -5rem;
    top: 5rem;
  }
  .scrollContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: var(--gridWidth);
    margin: 0 auto;
    align-items: start;
  }
  .scrollContainer__aside {
    top: calc(var(--navHeight) + 2rem);
    margin-top: 8rem;
    padding-top: 0;
    border-top: none;
  }
  .scrollContainer main {
    padding-left: 100px;
  }
  .sectionNav ul {
    padding: 0;
    display: block;
    border-bottom: none;
  }

  .sectionNav ul li {
    margin-bottom: 0.375rem;
  }
}

.sectionNav__link {
  font-size: 1.25rem;
  color: var(--text);
  position: relative;
}

.sectionNav__linkActive {
  font-weight: bold;
  padding-left: 1rem;
}

.sectionNav__linkActive:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  width: 4px;
  background-color: var(--primary);
}

.sectionNav__link:visited {
  color: var(--text);
}

/* cta simpler + shorter version of home page */
.ctaWrap {
  --ctaHeight: 62rem;
  --instaReelHeight: 264px;
  --newsLetterHeight: 11rem;

  position: relative;
  overflow: hidden;

  min-height: var(--ctaHeight);

  /* gradient */
  background-image: linear-gradient(113deg, #13c394 27%, #4c088e 72%);
}

.cta__bg {
  z-index: 0;
}

.cta__topSpacer {
  max-width: var(--gridWidth);
  min-height: calc(
    var(--ctaHeight) - var(--instaReelHeight) - var(--newsLetterHeight)
  );
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__header {
  line-height: 1.5;
  text-align: center;
}

.cta__header__text {
  color: var(--background);
  font-size: 2.5rem;
  margin: 0 0 2rem;
  text-align: center;
}

.cta__header__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
}

.cta__footer {
  position: absolute;
  z-index: 3;
  max-width: 100%;
}

.newsletterWrap {
  display: flex;
  padding: 2rem 1rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  color: var(--background);
}

.newsletterWrap p {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 420px) {
  /* form shrinks in height rapidly as screen grows */
  .ctaWrap {
    /* --ctaHeight: 118rem; */
  }
  .cta__header {
    bottom: 17rem;
  }
}

@media screen and (min-width: 460px) {
  .ctaWrap {
    /* --ctaHeight: 110rem; */
  }
}

@media screen and (min-width: 573px) {
  /* newsletter words to one line */
  .ctaWrap {
    --newsLetterHeight: 10rem;
  }
}

@media screen and (min-width: 903px) {
  /* newsletter to one flex row */
  .ctaWrap {
    --newsLetterHeight: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  /* without break form touches face */
  .ctaWrap {
    /* --ctaHeight: 79rem; */
  }

  .cta__topSpacer {
    /* min-height: 56rem; */
  }

  .cta__header {
    left: 0;
    top: 8rem;
    bottom: unset;
  }
}
